<div class="card">

  <section class="card-header">
    <div class="repository">
      <div>
        <a
          class="repo-link"
          [href]="repo.html_url"
          target="_blank"
          [title]="repo.full_name"
          [attr.aria-label]="'Link to '+ repo.name"
          rel="noreferrer noopener">
          {{repo.owner.login}} / <span class="repo-name">{{ repo.name }}</span>
        </a>
      </div>
      <github-repo-stats
        [stargazers]="repo.stargazers_count"
        [forks]="repo.forks"
        [language]="repo.language"></github-repo-stats>
    </div>
    <div class="owner">
      <github-author [author]="repo.owner"></github-author>
    </div>
  </section>

  <section class="card-body">
    <p>{{ description }}</p>
  </section>

  <section class="card-actions">
    <button brightwheel-button
            theme="secondary"
            [routerLink]="commitsLink"
            [attr.aria-label]="'View recent commits for github repo ' + repo.full_name">View recent commits
    </button>
  </section>

</div>
