$blue:                  #00589B;

$gray-lighter:          #e0e0e0;
$gray-light:            #C5C6C7;
$gray:                  #939597;
$gray-dark:             #323C46;

$yellow:                #F5DF4D;
$yellow-dark:           #F6CD4C;
$yellow-darker:         #F3BF09;

$pink:                  #CF5C78;
$pink-dark:             #C54966;
$pink-darker:           #C63C5F;
