@import "~normalize.css/normalize.css";
@import "colors";

html {
  background-color: #F0EEE9;
  color: $gray-dark;
  font-size: 14px;
  line-height: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.container {
  margin: 0 auto;
  max-width: 1360px;
  width: calc(100% - 32px);
  padding: 0 16px;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 1160px;
  }
}

@media screen and (max-width: 776px) {
  .container {
    max-width: 100%;
    width: calc(100% - 16px);
    padding: 0 8px;
  }
}
